<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/generic_styles.css">
</head>

<body>
    <h1>Profile</h1>
    <a href="/upload">Upload Files</a>
    <a href="/search">Search Files</a>
</body>

</html>