iframe {
    position: absolute;
    inset: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    user-select: none;
    outline: none;
    border: none;
    background-color: #ddd;
    color: black;
    filter: invert( 100% );
}
